[package]
name = "rsx-macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dev-dependencies]
rsx = { path = "../rsx" }

[dependencies]
proc-macro2 = "1.0.104"
quote = "1.0.42"
syn = "2.0.111"

