[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.106"
web-sys = { version = "0.3.83", features = ["Node"] }
rsx = { path = "../../rsx"}
rsx-web = { path = "../../web"}
console_error_panic_hook = "0.1.7"
